/* Responsive design based on screen size */

/* If the screen is too small, make content fill the page width. */

@media screen and (min-width: 950px) {
    .hitem {
        max-width: 100%;
    }
    .vitem {
        max-width: 100%;
    };
}

@media screen and (max-width: 950px) {
    .content {
        max-width: 90%;
    }
    .hbox {
        max-width: 90%;
    }
    .vbox {
        max-width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .hbox {
        flex-direction: column;
    }
    .vbox {
        max-width: 100%;
    }
    .hitem {
        margin: auto;
        max-width: 100%;
    }
    .hitem.content {
        max-width: 100%;
    }
    .footer {
        flex-direction: column;
    }
    .footer-column {
        margin: auto;
    }
    
}

/* If the screen is too small, make the navbar 2 lines. */
@media screen and (max-width: 600px){
    .title {
        width: 100%;
    }
    .nav .sub {
        padding: 5px 20px;
        margin: 0px;
        margin-bottom: 10px;
    }
    @keyframes nav-item-hover-pull {
        100% {
            transform: translateY(0px);
            background-color: rgb(255, 217, 0);
            color: #023047;
            border-radius: var(--nav-sub-border-radius);
            margin-bottom: 0px;
            padding: 10px 20px;
        }
    }
    .image {
        min-width: 100px;
    }
    .spacer {
        height: 60px;
    }
}