/* Main CSS file */

/* Variables */
:root {
    --border-radius: 15px;
    --border-radius-outer: 35px;
    --nav-sub-border-radius: 10px 10px 0px 0px;
    --accent-color-light: rgba(255, 217, 0, .25);
    --accent-color: rgba(255, 217, 0, .5);
    --glass-color-light: rgba(255, 255, 255, 0.25);
    --glass-color-dark: rgba(255, 255, 255, 0.5);
    --glass-color-black: rgba(0,0,0,0.25);
}

/* Navigation bar */
.nav {
    background-color: black;
    overflow: hidden;
    height: fit-content;

    /* Keep the navbar on top. */
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    border-bottom: 2px solid var(--accent-color);
}

.nav .sub {
    float: left;
    color: white;
    padding: 5px 20px;
    margin-right: 5px;
    text-decoration: none;
    transform: translateY(10px);
    background-color: var(--accent-color-light);
}

.nav .sub-r {
    float: right;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    transform: translateY(10px);
    border-radius: var(--nav-sub-border-radius);
}

.title {
    float: left;
    padding: 15px 20px 5px;
    color: gold;
}

.nav a{
    /* background-color: #4d4d4d; */
    border-radius: var(--nav-sub-border-radius);
    /* border: 1px solid var(--accent-color); */
    /* border-bottom: none; */
    /* box-sizing: border-box; */
}

.nav a:hover {
    border-radius: var(--nav-sub-border-radius);
    animation: nav-item-hover-pull 0.1s linear 0s 1 forwards;
}

.nav a.active {
    background-color: var(--accent-color);
    color: white;
    border-radius: var(--nav-sub-border-radius);
    border: none;
}

.large-text {
    font-size: 25px;
}

/* Globals */
body {
    margin: 0;
    padding: 0;
    color: white;
    background-image: url("../images/nebula2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

    /* make text unselectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 5px;
}

h1 {
    font-size: 60px;
    margin-top: 30px;
}

h2 {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: lightskyblue;
}

a.hidden-link {
    color: white;
}

a.hidden-link:hover {
    color: lightskyblue;
}

input {
    margin: auto;
    text-align: center;
    min-width: 300px;
}

button {
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--accent-color);
    font-size: 15px;
    padding: 5px;
}

button:hover {
    animation: button-hover-pull 0.1s linear 0s 1 forwards;
}

/* Types of Elements */
.hbox {
    max-width: 60%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    border-radius: var(--border-radius);
    gap: 20px;
}

.no-padding {
    padding-bottom: 0px;
    width: 100%;
    margin: 0px;
}

.vbox {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -1px;
    gap: 20px;
    align-items: stretch;
    margin: 0px;
}

.vmargin {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hitem {
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
    width: 100%;
}

.vitem {
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;

}

.hspacer {
    width: 20px;
    height: 20px;
}

.email-input {
    border-radius: var(--border-radius);
    flex-grow: 1;
    min-height: 50px;
    box-sizing: border-box;
    background-color: var(--glass-color-dark);
    border: none;
    font-size: 20px;
}

.content {
    margin: auto;
    margin-top: 20px;
    padding: 20px 20px;
    padding-top: 20px;
    width: fit-content;
    border-radius: var(--border-radius);
    max-width: 60%;
    filter: drop-shadow( 0px 0px 10px var(--glass-color-black));
}

.footer {
    background-color: black;
    bottom: 0px;
    padding: 10px 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.footer-column {
    min-width: 200px;
}

.bottom-margin {
    flex-grow: 1;
    background-color: red;
}

/* Modifiers - basic changes to divs */
.glass {
    background-color: var(--glass-color-light);
    border-radius: var(--border-radius-outer);
    filter: drop-shadow(0px 0px 10px var(--glass-color-light));
}

.glass-dark {
    background: var(--glass-color-dark);
    border-radius: var(--border-radius-outer);
}

.black {
    background-color: black;
}

.bold {
    font-weight: 800;
}

.product-name{
    font-weight: 700;
    font-size: 30px;
    background-color: var(--accent-color-light);
    /* filter: drop-shadow(5px 5px 4px var(--accent-color-light)); */
    
}

.bigtext {
    font-size: 20px;
}

.indent {
    text-indent: 30px;
}

.spacer {
    height: 20px;
}

.no-spacer{
    margin-top: 0px;
}

.slide-in {
    animation: slide-in 0.5s linear 0s 1 forwards;
}

.slide-in-delay {
    animation: slide-in 1s linear 0s 1 forwards;
}

.slide-in-delay-more {
    animation: slide-in 1.5s linear 0s 1 forwards;
}

.center-text{
    text-align: center;
}

.disappear {
    animation: disappear 0.5s linear 0s 1 forwards;
}