table {
    border: 5px dotted blue;
    border-radius: 20px;
    background-color: lightslategray;
}

body {
    margin: auto;
    background-color: slategray;
    color: whitesmoke;
    font-family: sans-serif;
}

.container {
    /* margin: auto; */
}

h1 {
    text-align: center;
    font-size: 35px;
}

table {
    margin: auto;
    padding: 10px;
}

td, th {
    min-width: 100px;
    font-size: 25px;
    padding: 5px;
}

.name {
    padding-right: 100px;
    border-right: 5px dotted lightskyblue;
}

th {
    border-bottom: 5px dotted lightskyblue;
}

a{
    text-align: center;
}