/* @keyframes topnav-link-hover {
    100% {
        background-color: var(--cpf1);
        color: white;

        box-shadow: var(--cpf4) 0px 0px 50px;
    }
} */

/* @keyframes topnav-link-hover-dark {
    100% {
        background-color: var(--cpf4);
        color: black;

        box-shadow: #363639 0px 0px 50px;
    }
} */

/* @keyframes topnav-hover {
    100% {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px;
        background-color: var(--cpf3);
    }
} */

/* @keyframes hover-raise {
    100% {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px;
    }
}

@keyframes hover-raise-dark {
    100% {
        box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 30px;
    }
} */

/* @keyframes btn-raise {
    100% {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 50px;
        background-color: var(--cpm2);
    }
} */

/* @keyframes btn-raise-dark {
    100% {
        box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 50px;
    }
} */

/* @keyframes smi-raise {
    100% {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 50px;
        background-color: var(--cpf2);
    }
} */

/* @keyframes smi-l-raise {
    100% {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 50px;
        background-color: var(--cpf5);
    }
} */

/* @keyframes fade-to-white {
    100% {
        background-color: white;
    }
} */

@keyframes nav-enter {
    0% {
        transform: translate(0px, -100px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}