/* Frosted glass effect (copied from in-class demo project) */

/* * {
    box-sizing: border-box;
} */

.fg {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    position: relative;
    z-index: 1;
    overflow: hidden;

    border-radius: 10px;
    height: fit-content;

    /* onload animation */
    animation-name: fg-onload;
    animation-duration: 0.6s;

    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

.fg::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, .5);

    filter: blur(5px);
}

.page a.fg {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .2);
}

.fg.blue {
    background: var(--cp4);
}

a.fg {
    padding: 10px;
}

.fg h2 {
    margin-top: 0px;
}

@keyframes fg-onload {
    0% {
        opacity: 0;
        scale: 1.2;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
        filter: blur(2px);
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fg-onexit {
    0% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0.8;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
        filter: blur(2px);
    }
}