:root {
    --cp1: #56478780;
    --cp2: #dbcbd880;
    --cp3: #f2fdff80;
    --cp4: #9ad4d680;
    --cp5: #10193580;

    --cpf1: #564787;
    --cpf2: #dbcbd8;
    --cpf3: #f2fdff;
    --cpf4: #9ad4d6;
    --cpf5: #101935;

    --cpd: rgba(0, 0, 0, 0.65);
}

body {
    /* Remove white border */
    margin: 0px;

    background-image: url("../images/geometric.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;

    background-attachment: fixed;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    /* animation-name: bump-in; */
    animation-duration: 0.1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;

    text-align: center;
    font-size: 40px;
    /* margin-top: 100px; */
    background-color: white;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    max-width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
    text-align: center;
}

a.raised {
    padding: 10px;
    border-radius: 10px;

}



.cp1 {
    background-color: var(--cp1);
    color: white;
}

.cp2 {
    background-color: var(--cp2);
}

.cp3 {
    background-color: var(--cp3);
}

.cp4 {
    background-color: var(--cp4);
}

.cp5 {
    background-color: var(--cp5);
}

a.cp1 {
    background-color: var(--cpf1);
    color: white;
}

a.cp2 {
    background-color: var(--cpf2);
}

a.cp3 {
    background-color: var(--cpf3);
}

a.cp4 {
    background-color: var(--cpf4);
}

a.cp5 {
    background-color: var(--cpf5);
}



.topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    gap: 2%;
    margin: 20px;
    border-radius: 10px;
    padding: 5px;

    flex-wrap: wrap;

    position: sticky !important;
    /* width: 100%; */
    z-index: 3 !important;
    top: 20px;

    backdrop-filter: blur(10px);
}

.topnav-backdrop {
    content: "";
    position: sticky !important;
    background: inherit;
    z-index: 2 !important;
    top: 20px;
    /* left: 0px; */
    /* right: 0px; */
    /* bottom: 0px; */
    height: 100px;

    filter: blur(5px);
}

.topnav:hover{
    animation: topnav-hover 0.2s linear 0s 1 forwards normal;
}

.topnav a{
    color: var(--cpf5);
    padding: 10px 30px;

    border-radius: 5px;
}

.topnav a:hover {
    animation: topnav-link-hover 0.2s linear 0s 1 forwards normal;
}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 30px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("../images/hex.jpg");
    }

    .topnav a {
        color: white;
    }

    .topnav {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .cp1.dt {
        background-color: var(--cpd);
        color: var(--cp1);
    }

    .cp2.dt {
        background-color: var(--cpd);
        color: var(--cp2);
    }

    .cp3.dt {
        background-color: var(--cpd);
        color: var(--cp3);
    }

    .cp4.dt {
        background-color: var(--cpd);
        color: var(--cp4);
    }

    .cp5.dt {
        background-color: var(--cpd);
        color: var(--cp5);
    }
}