:root {
    --cp1: #56478780;
    --cp2: #dbcbd880;
    --cp3: #f2fdff80;
    --cp4: #9ad4d680;
    --cp5: #10193580;

    --cpf1: #564787;
    --cpf2: #dbcbd8;
    --cpf3: #f2fdff;
    --cpf4: #9ad4d6;
    --cpf5: #101935;

    --cpd: rgba(0, 0, 0, 0.65);
}

body {
    /* Remove white border */
    margin: 0px;

    background-image: url("../images/geometric.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;

    background-attachment: fixed;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    /* animation-name: bump-in; */
    animation-duration: 0.1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;

    text-align: center;
    font-size: 40px;
    /* margin-top: 100px; */
    background-color: white;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    max-width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
    text-align: center;
}

a.raised {
    padding: 10px;
    border-radius: 10px;

}



.cp1 {
    background-color: var(--cp1);
    color: white;
}

.cp2 {
    background-color: var(--cp2);
}

.cp3 {
    background-color: var(--cp3);
}

.cp4 {
    background-color: var(--cp4);
}

.cp5 {
    background-color: var(--cp5);
    color: white;
}

a.b.cp1 {
    background-color: var(--cpf1);
    color: white;
}

a.b.cp2 {
    background-color: var(--cpf2);
}

a.b.cp3 {
    background-color: var(--cpf3);
}

a.b.cp4 {
    background-color: var(--cpf4);
}

a.b.cp5 {
    background-color: var(--cpf5);
    color: white;
}



.topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    gap: 2%;
    margin: 20px;
    border-radius: 10px;
    padding: 5px;

    flex-wrap: wrap;

    position: sticky !important;
    /* width: 100%; */
    z-index: 3 !important;
    top: 20px;

    background-color: var(--cp3);
}

.topnav::before {
    content: "";
    position: absolute;
    /* background: inherit; */
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-color: red;
}

.topnav:hover {
    animation: topnav-hover 0.2s linear 0s 1 forwards normal;

}

.topnav a {
    color: var(--cpf5);
    padding: 10px 30px;

    border-radius: 5px;

    flex-grow: 1;
}

.footer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2%;
    margin: 20px;
    padding: 5px;

    flex-wrap: wrap;
    z-index: 3 !important;
    top: 20px;

    min-height: 30px;

    background-color: var(--cp3);
}

.footer-below {
    opacity: 0;
    height: 20px;
    overflow: hidden;
}

.footer a{
    color: darkgray;
}

.footer a:hover{
    text-decoration: underline double;
}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.hbox-fl h3 {
    margin-top: 0px;
}

.hbox-fl div, p {
    float: left;
    box-sizing: border-box;
    /* margin: 10px; */
    padding: 5px;
}

.hbox.vert-center {
    align-items: center;
}

.hbox.vert-stretch {
    align-items: stretch;
}

.center {
    text-align: center;
}

.hvr-underline:hover {
    text-decoration: underline double;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.fg.pad30 {
    /* margin: auto; */
    padding: 30px;
}

.fg.pad20 {
    /* margin: auto; */
    padding: 20px;
}

.fg.pad10 {
    /* margin: auto; */
    padding: 10px;
}

.f12 {
    font-size: 1.2rem;
}

.whi {
    color: white !important;
}

@media (prefers-color-scheme: light) {
    .topnav a:hover {
        animation: topnav-link-hover 0.2s linear 0s 1 forwards normal;
    }

    .hvr:hover {
        animation: hover-raise 0.2s linear 0s 1 forwards normal;
    }
}

@media (prefers-color-scheme: dark) {

    .hvr:hover {
        animation: hover-raise-dark 0.2s linear 0s 1 forwards normal;
    }

    body {
        background-image: url("../images/hex.jpg");
    }

    .topnav a {
        color: white;
    }

    .topnav a:hover {
        animation: topnav-link-hover-dark 0.2s linear 0s 1 forwards normal;
    }

    .topnav {
        background-color: var(--cpd);
    }

    .cp1.dt {
        background-color: var(--cpd);
        color: var(--cpf1);
    }

    .cp2.dt {
        background-color: var(--cpd);
        color: var(--cpf2);
    }

    .cp3.dt {
        background-color: var(--cpd);
        color: var(--cpf3);
    }

    .cp4.dt {
        background-color: var(--cpd);
        color: var(--cpf4);
    }

    .cp5.dt {
        background-color: var(--cpd);
        color: var(--cpf5);
    }
}