/* Welcome to my CSS file! Enjoy your stay <3 */

/* Icons & Fonts import */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/* Define color palette */
:root {
    --cp1: #5647873a;
    --cp2: #dbcbd83a;
    --cp3: #f2fdff3a;
    --cp4: #9ad4d63a;
    --cp5: #1019353a;

    --cpm1: #56478780;
    --cpm2: #dbcbd880;
    --cpm3: #f2fdff80;
    --cpm4: #9ad4d680;
    --cpm5: #10193580;


    --cpf1: #564787;
    --cpf2: #dbcbd8;
    --cpf3: #f2fdff;
    --cpf4: #9ad4d6;
    --cpf5: #101935;

    --cpd: rgba(0, 0, 0, 0.65);
    --cpfd: rgba(0, 0, 0, 1);
}

/* GLOBALS */
/* Headings (I used to use a different font for headings) */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka', sans-serif; /* previously Righteous */
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    /* Remove white border */
    margin: 0px;

    /* Gradient */
    background: linear-gradient(-40deg, rgb(228, 171, 225) 0%, rgb(122, 118, 196) 50%, rgb(10, 168, 199) 100%);

    /* Position the background properly */
    background-repeat: no-repeat !important;
    background-size: cover;
    background-attachment: fixed;

    background-position: center;
    justify-content: center;

    font-family: 'Fredoka', Verdana, Geneva, Tahoma, sans-serif;
}

/* Divs usually have their own padding */
p {
    padding: 0px;
}

/* large font */
.flg {
    font-size: 1.3em;
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: white;
    margin: 0px;
}

.page {
    /* i love flexbox */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;
    max-width: 1440px;
    width: calc(100% - 40px);
}

a {
    text-decoration: none;
    text-align: center;
}

a.buttonlike {
    transition-property: scale, background-color, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

a.buttonlike:hover {
    scale: 1.1 !important;
}

/* only hover underlines on the page, not on navbar */
.page a:hover {
    text-decoration: underline double;
}

a.raised {
    padding: 10px;
    border-radius: 10px;
}

/* color pallete classes for designing within html */
.cp1 {
    background-color: var(--cp1);
    color: white;
}

.cp2 {
    background-color: var(--cp2);
}

.cp3 {
    background-color: var(--cp3);
}

.cp4 {
    background-color: var(--cp4);
}

.cp5 {
    background-color: var(--cp5);
    color: white;
}

.cpm1 {
    background-color: var(--cpm1);
    color: white;
}

.cpm2 {
    background-color: var(--cpm2);
}

.cpm3 {
    background-color: var(--cpm3);
}

.cpm4 {
    background-color: var(--cpm4);
}

.cpm5 {
    background-color: var(--cpm5);
    color: white;
}

a.cpm1 {
    transition: background-color 0.3s;
}

a.cpm1:hover {
    background-color: var(--cpf1);
}

/* header on the homepage */
h1.main-header{
    font-size: 60px;
    background: unset;

    animation-name: header-onload;
    animation-duration: 0.6s;

    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

/* NAVBAR */
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    gap: 2%;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;

    /* Solidify on hover */
    transition-property: scale, box-shadow, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.topnav::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; 
}

/* Solidify on hover */
.topnav:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px !important;
}

/* Nav buttons */
.topnav a {
    color: var(--cpf5);
    padding: 10px 30px;

    border-radius: 10px;

    font-family: 'Fredoka', sans-serif !important;

    transition-property: box-shadow, background-color, color, scale;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    margin: auto;

}

/* Grow slightly on hover (for some reason it needs !important, idk why) */
.topnav a:hover {
    scale: 1.1 !important;
}

/* Hamburger menu (only shown on mobile) */
#hamburger {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9;
    border: none;
    padding: 20px;

    width: 60px;
    height: 60px;
    font-size: 30px;
}

/* Hamburger icon */
#hamburger i {
    position: absolute;
    top: 25%;
    left: 25%;
}

/* FOOTER */
.footer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    row-gap: 20px;
    margin: 20px;
    padding: 30px;

    flex-wrap: wrap;
    min-height: 60px;
    background-color: var(--cp3);
}

.footer a {
    color: black;
}

/* Not covered by page-only underline */
.footer a:hover {
    text-decoration: underline double;
}

/* STRUCTURES */
/* basic horizontal box */
.hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

/* horizontal box using float */
.hbox-fl h3 {
    margin-top: 0px;
}

.hbox-fl div, p {
    float: left;
    box-sizing: border-box;
    /* margin: 10px; */
    padding: 5px;
}

.hbox.vert-center {
    align-items: center;
}

.hbox.vert-stretch {
    align-items: stretch;
}

.center {
    text-align: center;
}

/* Hover effect as a class on its own */
.hvr {
    /* z-index: 2; */
    transition-property: box-shadow, scale;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.hvr:hover {
    scale: 1.1;
}

.hvr-underline:hover {
    text-decoration: underline double;
}

/* Options for use in html. Nice for coding quickly. I really don't like inline CSS.*/
.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w100 {
    width: 100%;
}

/* Padding options */
.fg.pad30 {
    /* margin: auto; */
    padding: 30px;
}

.fg.pad20 {
    /* margin: auto; */
    padding: 20px;
}

.fg.pad10 {
    /* margin: auto; */
    padding: 10px;
}

/* Font size option */
.f12 {
    font-size: 1.2rem;
}

/* Color option */
.whi {
    color: white !important;
}

/* HOMEPAGE FEATURED PROJECT */
.featured-project {
    display: flex;
    gap: 20px;
    justify-content: stretch;
    align-items: center;
}

.featured-project div {
    display: flex;
    flex-direction: column;
}

.featured-project a{
    transition-property: background-color, box-shadow, scale;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/* FOOTER SOCIAL MEDIA LINKS */
/* smi for social media icons, smi-l for bottom nav links */
.smi {
    padding: 5px;
    width: 20px;
    background-color: var(--cp2);
    transition: box-shadow 0.3s, background-color 0.3s, scale 0.3s;
}

.smi-l {
    background-color: var(--cp5);
    transition: box-shadow 0.3s, background-color 0.3s, scale 0.3s;
}

.smi:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 50px;
    background-color: var(--cpf2);
    scale: 1.1;
}

.smi-l:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px;
    background-color: var(--cpf5);
    scale: 1.1;
}

.footer span {
    height: fit-content;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

/* hamburger icon */
.bi-menu-app {
    color: white;
}

button.fg {
    border: none;
    /* width: 100%; */
    background-color: var(--cp2);
    padding: 10px 0px;
    font-size: 20px;

    transition: box-shadow 0.2s, background-color 0.2s;
}

button.fg:hover {
    /* animation: btn-raise 0.2s linear 0s 1 forwards normal; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 50px;
    background-color: var(--cpm2);
}

a.inh {
    color: black;
}

/* CONTACT FORM */
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    gap: 20px;

    background: inherit;

    max-width: 1000px;

    border-radius: 40px !important;
}

.contact div {
    padding: 20px;
}

.contact-inner {
    width: calc(50% - 50px);
    /* 40px is the total padding plus 10px for the gap */
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;

    align-items: center;
}

.contact-inner input {
    flex-grow: 1;
    border: none;
    min-height: 40px;
    font-size: 1.2em;

    background-color: var(--cp3);

    padding: 0px 10px;
}

.contact-inner.contact-name {
    width: 100% !important;
}

.contact h3 {
    margin-top: 0px;
    margin: 0px;
    padding: 0px;
}

.contact-radio {
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: center;

    flex-wrap: wrap;

    row-gap: 5px;
    column-gap: 5px;

}

.contact-radio h3 {
    width: 100%;
}

.contact-radio div {
    /* width: 50%; */
    min-width: 34%;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.contact-radio div:hover {
    background-color: var(--cp1);
}

.contact-radio input {
    scale: 1.3;
}

.contact-radio .contact-radio-blurb {
    font-size: 1.1em;
}

.contact-message {
    width: 100%;
}

.contact-message textarea {
    width: calc(100% - 20px);
    /* width: 100%; */

    /* margin: 10px; */

    margin-top: 10px;

    min-height: 200px;

    border: none;
    background: inherit;
    background-color: var(--cp3);

    resize: vertical;

    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 1.2em;
}

.contact-submit {
    width: 100%;
}

.contact-others {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    justify-content: flex-start;

    gap: 20px;
}

.contact-others div{
    display: flex;
    gap: 5px;
}

/* PORTFOLIO PAGE */
.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 20px;

    justify-content: center;
}

.portfolio .portfolio-item {
    width: 300px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 10px;

    align-items: flex-start;

    padding: 10px;

    transition-property: border, scale, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    z-index: 1;

}

.portfolio-filter-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}

.portfolio-filter-container .fg{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 10px;
}

.portfolio .portfolio-item .portfolio-description.hbox {
    justify-content: space-between;
}

.portfolio .portfolio-item:hover {
    scale: 1.05;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .25);
    background-color: var(--cpm3);
}

.portfolio h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-indent: 4px;
}

.portfolio .portfolio-description {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;

    color: rgb(69, 69, 69);

    gap: 5px;
}

.portfolio .portfolio-description .portfolio-type-yr {
    text-align: right;
    font-family: 'Fredoka', sans-serif;
}

.portfolio .portfolio-year {
    margin: 0px;
}

.portfolio .portfolio-item a {
    width: 20px;
    height: 20px;
}

.portfolio .portfolio-content {
    width: 100%;
}

.portfolio .portfolio-image {
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    max-height: 200px;
    border-radius: 5px;
}

/* Popout view pane (this took 3 hours) */
#portfolio-popout {
    top: 40px;
    left: 40px;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);

    border-radius: 10px;
    border: none;
    position: fixed;

    z-index: 4;
    background-color: white;

    /* animation w/transition not keyframes */
    opacity: 0;
    scale: 0.8;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
    filter: blur(2px);
    transition-property: opacity, scale, box-shadow, filter;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

#portfolio-popout.displayed {
    z-index: 4;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .35);
    opacity: 1;
    scale: 1;
    filter: none;
}

/* Popout view pane close button */
#portfolio-pop-close {
    display: none;

    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 5;

    padding: 5px;
    width: 50px;
    height: 50px;

    transition: scale 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#portfolio-pop-close:hover {
    scale: 1.1;
}

#portfolio-pop-close .bi-x {
    margin: auto;
    font-size: 30px;
}

#portfolio-pop-close.displayed {
    display: block;
}

/* open in netbeans image */
.netbeans {
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
}

.netbeans img {
    max-height: 50px;
}

/* PRICING PAGE */
.pricing {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    box-sizing: border-box;
    align-items: stretch;
    border-radius: 20px !important;
}

.pricing-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    gap: 5px;
    align-items: stretch;
}

.pricing .pricing-title {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.pricing .pricing-sub {
    flex-grow: 1;
    text-align: center;
    background-color: var(--cpm5);
    color: white;
    padding: 5px;
    flex-basis: 0;
}

.pricing .pricing-item {
    flex-grow: 1;
    text-align: center;
    background-color: var(--cp2);
    flex-basis: 0;
}

.pricing .pricing-notice {
    font-size: 16px;
    color: rgb(53, 53, 53);
    text-align: center;
    background: inherit;
    flex-basis: 0;
    padding: 5px;
}

.pricing a {
    padding: unset !important;
    color: black;
}

.pbtn {
    font-weight: 600;
    color: black;
}


.contact button {
    font-family: 'Fredoka', sans-serif;
}

/* Light mode vs dark mode. instead of setting colors and then overriding with dark mode (which css sometimes doesn't like) I define colors for both light and dark. */
@media (prefers-color-scheme: light) {
    .topnav a:hover {
        background-color: var(--cpf1);
        color: white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .25);
    }

    .topnav a:hover::before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 10px rgba(255, 255, 255, .5);

        filter: blur(5px);
    }

    .hvr:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px;
    }

    .topnav {
        background-color: var(--cp3);
    }

    .topnav:hover {
        background-color: var(--cpm3);
    }

    #hamburger, #portfolio-pop-close {
        background-color: var(--cpm3);
    }

    #portfolio-pop-close:hover {
        background-color: var(--cpf3);
    }

    #hamburger i, #portfolio-pop-close i {
        color: black !important;
    }
}

/* Dark mode color changes */
@media (prefers-color-scheme: dark) {

    .hvr:hover {
        /* animation: hover-raise-dark 0.2s linear 0s 1 forwards normal; */
        box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 30px;
        scale: 1.1 !important;
    }

    body {
        /* background-image: url("../images/hex.jpg"); */
        background: linear-gradient(-40deg, rgba(2, 0, 36, 1) 0%, rgba(94, 14, 90, 1) 48%, rgba(10, 101, 120, 1) 100%);

    }

    .topnav a {
        color: white;

    }

    .topnav a:hover {
        /* animation: topnav-link-hover-dark 0.2s linear 0s 1 forwards normal; */
        background-color: var(--cp4);
        color: white;
        /* box-shadow: #363639 0px 0px 50px; */
        /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, .25);
        transition: box-shadow 0.3s, background-color 0.3s, color 0.3s; */
    }

    .topnav {
        background-color: var(--cpd);
    }

    .cp1.dt {
        background-color: var(--cpd);
        /* color: var(--cpf1); */
    }

    .cp2.dt {
        background-color: var(--cpd);
        color: var(--cpf2);
    }

    .cp3.dt {
        background-color: var(--cpd);
        color: var(--cpf3);
    }

    .cp4.dt {
        background-color: var(--cpd);
        color: var(--cpf4);
    }

    .cp5.dt {
        background-color: var(--cpd);
        /* color: var(--cpf5); */
    }

    .dt.p {
        color: white !important;
    }

    .footer {
        background-color: var(--cpd);
        color: white;
    }

    .footer i {
        color: white;
    }

    .footer a:hover i {
        color: var(--cpf5);
    }

    .cpm1 {
        background-color: var(--cp1);
        transition: background-color 0.2s;
    }

    a.cpm1:hover {
        background-color: var(--cpf1);
    }

    .portfolio .portfolio-description {
        color: rgb(167, 167, 167);
    }

    .portfolio .portfolio-item:hover {
        background-color: var(--cpd);
    }

    #hamburger, #portfolio-pop-close {
        background-color: var(--cpd);
    }

    #portfolio-pop-close#hover {
        background-color: var(--cpd);
    }

    #hamburger i, #portfolio-pop-close i {
        color: white;
    }

    .contact-submit {
        background-color: var(--cpm1) !important;
        color: white;
    }

    .contact-submit:hover {
        background-color: var(--cpf1) !important;
    }

    .contact-others a {
        color: white !important;
    }

    .contact h2 {
        text-align: center;
        width: 100% !important;
    }

    .pricing {
        color: white;
    }

    .pricing-notice {
        background-color: var(--cpd) !important;
        color: rgb(190, 190, 190) !important;
    }

    .main-header {
        color: white;
    }
}

/* MOBILE MODE */
@media only screen and (max-width: 850px) {

    /* ROWS -> COLS */
    .hbox {
        flex-direction: column;
    }

    .hbox-fl div, p {
        width: 100%;
    }

    /* Make nav vertical */
    .topnav {
        /* display: none; */
        flex-direction: column;

        width: fit-content;
        /* float: right; */
        right: 80px;

        z-index: 9 !important;
        backdrop-filter: blur(10px);

        position: fixed !important;

        transition: transform 0.3s, background-color 0.3s;

        transform: translate(0px, -110%);
        /* transform: translate(0px, 0px); */

        row-gap: 5px;

        animation: none !important;

    }

    .topnav a {
        /* color: white !important; */
        z-index: 10 !important;
    }

    .topnav a:hover {
        scale: 1 !important;
    }

    /* show the hamburger menu */
    #hamburger {
        display: block;
    }

    #portfolio-pop-close {
        top: 100px;
    }

    .hamburg-show {
        transform: translate(0px, 0px);
        /* transform: translate(0px, -200%); */
    }

    .w30, .w40, .w50, .w80 {
        width: 100%;
    }

    .hbox, .hbox-fl {
        width: 100%;
    }

    h1 {
        margin-top: 20px;
    }

    .contact-inner {
        width: 100%;
    }

    input {
        color: white;
    }

    .pricing {
        width: 100%;
    }

    .portfolio-filter-container, #filtercontainer, #sortcontainer {
        flex-direction: column !important;
    }

    .page {
        width: 80vw;
    }

}

/* Light vs dark mode for mobile mode */
/* Make nav and buttons filled in colors */
@media only screen and (max-width: 850px) and (prefers-color-scheme: light) {
    .topnav {
        background-color: var(--cpf3) !important;
    }

    #hamburger, #portfolio-pop-close {
        background-color: var(--cpf3) !important;
    }
}

@media only screen and (max-width: 850px) and (prefers-color-scheme: dark) {
    .topnav {
        background-color: var(--cpfd) !important;
        color: white;

        /* z-index: 9; */
    }

    #hamburger, #portfolio-pop-close {
        background-color: var(--cpfd) !important;
    }
}