body {
    text-align: center;
    padding-bottom: 30px;
    background-color: black;
}

h1 {
    font-family: "Readex Pro", sans-serif;
    color: whitesmoke;
    font-size:40px;
    filter: drop-shadow(10px 10px 5px black);
}

.nasa-logo {
    max-height: 250px;
    margin: auto;
    display: block;
    margin-top: 5%;
    margin-bottom: 10%;
    filter: drop-shadow(10px 10px 5px black);
}

p {
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    filter: drop-shadow(10px 10px 5px black);
}

a{
    font-family: 'Bakbak One', sans-serif;
    text-decoration: none;
    color: lightskyblue;
    font-size: 25px;
    background-color: darkslateblue;
    background-color: rgb(28, 60, 140);
    padding: 10px 30px;
    border-radius: 30px;
    filter: drop-shadow(10px 10px 5px black);
}

a:hover {
    color: darkslateblue;
    background-color: whitesmoke;
}

a.submit-button {
    background-color: rgb(232, 38, 52);
    padding: 5px 30px;
}

a.submit-button:hover {
    background-color: whitesmoke;
    color: lightcoral;
}

input {
    border-radius: 30px;
    filter: drop-shadow(10px 10px 5px black);
    width: 300px;
    height: 25px;
    padding: 10px 20px;
    text-align: center;
    font-family: "Readex Pro", sans-serif;
    font-size: 20px;
    border: none;
    background-color: whitesmoke;
    color: darkslateblue;
}

.newsletter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.snowfall {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-position: top;
    background-size: 1000px;
    filter: blur(4px);
    background-image: url("../images/falling-snow.gif");
    overflow: hidden;
}

.background  {
    background-image: url("https://www.dpreview.com/files/p/articles/6063370181/mars-rover-elderfox-docu-tour-banner.jpeg");
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: center;
    width: 100vw;
    height: 100vh;
    filter: blur(3px);
    background-repeat: no-repeat;
}