* {
    box-sizing: border-box;
}

:root {
    --accent-color: #61FF7E;
    --sidebar-bg: #f2f2f2;
}

/* general */
body {
    margin: 0px;
    background-color: var(--sidebar-bg);
}

h1 {
    font-family: 'Righteous', sans-serif;

    color: var(--accent-color);
    text-align: center;

    padding: 20px 0px;

    font-size: 50px;

    margin: 0px;

    filter: drop-shadow(0px 0px 20px white);
}

h2, h3 {
    font-family: 'Righteous', sans-serif;
}

h4 {
    font-family: 'Arial Black', sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* main center intro */
.hero {
    background-image: url("https://images.unsplash.com/photo-1593371256584-ac70d0ab43d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBuaWdodHxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size: cover;

    color: white;

    padding-bottom: 20px;
}

.hero p{
    padding: 0px 40px;
    text-indent: 40px;

    line-height: 150%;
}


.hero p.hero-main{
    font-size: 20px;
    text-indent: 0px;
    padding: 10px 15px;
    text-align: center;
    width: fit-content;
    margin: auto;
    font-weight: 800;
    max-width: 90%;
}

.hero p.hero-welcome {
    color: var(--accent-color);
    font-size: 15px;
}

/* resources section */
.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    padding: 0px 20px;
}

.links h2 {
    width: 100%;
    text-align: center;
    color: var(--accent-color);
    filter: drop-shadow(0px 0px 10px black);
    font-size: 30px;
}

.expansion {
    padding: 20px 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;

}

.expansion h3 {
    padding: 0px;
    margin: 0px;
    font-size: 23px;
    color: white;
}

.expansion a{
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ddd;

}

.expansion a:hover {
    color: var(--accent-color);
    text-decoration: underline;

}

/* make things responsive columns */
.main {
    float: left;
    width: 80%;

    background-color: gray;
}

.right-bar {
    float: left;
    width: 20%;

    padding: 0px 20px;

    background-color: var(--sidebar-bg);

    height: 100%;

    word-break: break-all;
}

/* navbar that wraps if the viewbox is too small */
.topnav {
    overflow: hidden;
    background-color: #333;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Righteous', sans-serif;
}

.topnav img {
    width: 40px;
}

.topnav a:hover {
    color: var(--accent-color);
    filter: drop-shadow( 0px 0px 10px white);
}

.topnav a.topnav-main {
    font-size: 1.5em;
}

.footer {
    text-align: center;
    width: 100%;
    float: left;
    white-space:pre-line;
    font-family: "Arial Black", sans-serif;
    padding: 20px;
    background-color: var(--accent-color);
}

/* Make it one big column if the viewbox is smaller than tablet size. */
@media only screen and (max-width: 1100px) {
    .main{
        width: 100%;
    }
    .right-bar{
        width: 100%;
    }
    .expansion {
        align-content: flex-start;
    }
}

/* Make the resources section one column if the viewbox is phone sized. */
@media only screen and (max-width: 500px) {
    .expansion {
        width: 100%;
        flex-direction: column;
    }
}

/* Tried this for larger screens but didn't like how the 3-column view looked. */
/* @media only screen and (min-width: 1500px) {
    .links {
        float: left;
        width: 30%;
        flex-direction: column;
    }

    .expansion {
        width: 100%;
    }

    .hero {
        float: right;
        width: 70%;
    }
} */